[2017-05-10 14:46] veillette opened #1 "Fractions Intro Master Checklist"
Since this sim is almost an exact copy of the Java version (in terms of look and functionality), the Java sim in essence is serving as the design spec, although the code is basically being written from scratch. Thus multiple parts of the checklist have been removed.

## Design
- [x] **Sim folder and design doc created** (Date: 06/22/2017)
  - [x] Create sim folder in [PhET Sim Design Folder](https

[2017-05-10 15:15] samreid opened #2 "Internal Code Review"
This is an internal code review checklist. As we make progress, we should make sure that we hold yourself to this standard.
Assigning to @davisv007 , @coledu and michael.

PhET code-review checklist
=============

**Build and Run Checks**

- [ ] Does the sim build without warnings or errors?
- [ ] Does the sim start up? (requirejs and built versions)
- [ ] Does the sim experience any assertion fai

[2017-05-10 15:16] samreid commented on #1
I've reserved issue #1 for the master checklist, and moved the code review checklist to issue #2.

[2017-05-11 16:49] samreid opened #3 "Initial code review for NumberLineNode"
I can see that you are making good progress working on NumberLineNode already.  I'll take a look through and see if I have any recommendations.  If I make any commits, I'll link them here so you can take a closer look and follow patterns as you proceed.

[2017-05-11 17:02] samreid commented on #3
Some minor changes above, please review them and let me know if you have questions.

Also:
- [x] Consider batching line segments into a single Path.  For instance, using Shape.moveTo.lineTo.moveTo.lineTo, etc.  Then we can have one path for the minor ticks and one for the major ticks.  Not sure how this will work with the highlight region, but I think it will be OK.  May also be better for memory

[2017-05-11 19:51] samreid commented on #3
By the way, keep up the good work on the code comments!

[2017-05-12 12:25] coledu commented on #3
I have added JSDoc at the top of each file.

[2017-05-12 13:31] coledu commented on #3
I use path and shape to make the ticks on the main number line. We use three different paths because we have three different width for minor ticks, odd major ticks, and even major ticks.

[2017-05-12 13:34] coledu commented on #3
I believe our task is completed, assigning to @samreid for review.

[2017-05-12 15:52] samreid opened #4 "Code formatting convention"
@veillette can you please help make sure your team is set up to use the IntelliJ IDEA code formatting conventions?  I'll commit a reformat for this issue.  If you have any questions or need help setting it up, please let me know.

[2017-05-12 16:02] samreid commented on #3
This is coming along nicely!  We can further improve it by factoring out this pattern which appears 3 times:

[code]

Let's create a new function like this, just before the first for loop:

[code]

This will help in factoring out some of the duplicated logic.  Please reassign to me after making this change.

[2017-05-12 16:09] samreid opened #5 "Alternate pattern: supplying children through options"
An alternative to using `addChild` calls throughout the code is to coalesce the children and specify them at once.  This can make it easier to view and change the z-ordering, and in some cases leads to simpler code to read and maintain.  It is not always possible to use this pattern, but in several places where it is possible it can be an improvement.  I'll commit an example of one way to do this

[2017-05-12 16:10] samreid commented on #5
Committed above, @veillette can you please review and let me know your thoughts?

[2017-05-12 16:11] samreid opened #6 "This repo needs GitHub labels"
@mattpen can you please grant us the standard simulation repo labels?

[2017-05-12 18:29] coledu commented on #3
Thank you for the suggestion. I have added a function call appendTick that places the tick mark on the number line. Assigning to @samreid

[2017-05-12 18:39] samreid commented on #3
Looks great @coledu, nice work!  As you proceed, I'd like you and your team to follow this new process for commits:

If committing a change related to an issue, please copy paste the full path of the issue or the issue number with # sign in the commit message.  For instance, here are some recent commits for this file:

![image](https://cloud.githubusercontent.com/assets/679486/26011807/b8fc1844-37

[2017-05-12 18:45] coledu commented on #3
I have read it and I am aware of it. I will make sure I do this in the future. I have inform my coworker as well. Thanks, I will close this issue.

[2017-05-12 18:45] #3 closed

[2017-05-12 19:12] veillette commented on #4
We had setup  IntelliJ IDEA to use the  PhET CodeStyle specified  in the xml file of phetInfo and we have used it pretty diligently when we make commits.
I thought It would be sufficient and would take care  of introducing line breaks for extra long lines.
Is there an additional settings to be specified, or I am missing something?

[2017-05-12 19:28] veillette commented on #5
@samreid , we have followed this pattern in IntroScreenView.js and it works well.

I have informed all the members of the team and we will try to implement this pattern whenever it is possible from this point on.

[2017-05-12 19:28] samreid commented on #4
Can you check Settings => Code Style and see if it is set to 120?

![image](https://cloud.githubusercontent.com/assets/679486/26013728/f361b97e-3716-11e7-8412-c6638c533fac.png)

[2017-05-12 19:30] samreid commented on #5
Looks great, thanks! Closing.

[2017-05-12 20:11] michaelm396 opened #7 "Common Module for FractionNode.js in fractions-intro & fraction-comparison"
Our current implementation of [**fractions-intro/FractionNode.js** ](https://github.com/phetsims/fractions-intro/blob/master/js/intro/view/FractionNode.js) and the established [**fraction-comparison/FractionNode.js**](https://github.com/phetsims/fraction-comparison/blob/master/js/intro/view/FractionNode.js) are practically carbon copies. Both programs seem to use very similar properties when attem

[2017-05-12 20:28] samreid commented on #7
Thanks for bringing this up @michaelm396, I think it is a good suggestion and we should factor out FractionNode.  Aside from the advantages you pointed out, it will also help ensure a consistent look for fractions across our simulations.

Our codebase currently shows the following declarations of FractionNode:
area-builder/js/game/view/FractionNode.js
fractions-intro/js/intro/view/FractionNode.js

[2017-05-12 21:32] veillette commented on #4
It was set to 150 on my machine. Assigning to @michaelm396 , @davisv007  and  @coledu to make sure you have the proper setting in IntelliJ on your computer. Once you have made the change, tick the chekbox below and unassigned yourself for this issue.

- [x] Micheal
- [x] Vincent
- [x] Dusty

[2017-05-12 21:55] veillette opened #8 "Two supertypes call in constructor of IntroScreenView, NumberLineIcon, FractionNode and MaxSpinner"
In line 27 of IntroScreenView.js, the command
[code]
is issued and is later reiterated at the end of the constructor in line 58

[code]

Although @samreid suggested to follow  a new pattern to add node to the scene graph, it doesn't imply that we should necessarily have to call to the supertype at the end of the constructor.
You need only one call to the supertype. Since you need to have access to

[2017-05-12 22:04] veillette commented on #8
A similar repetition is found in FractionNode, NumberLineIcon.  This should also be addressed..

[2017-05-12 22:26] samreid opened #9 "Line comments should have a blank line before them"
I noticed code that has this pattern:

[code]

It is great that you are writing good line comments.  As part of the PhET style, we would like each line comment to be preceded by a blank line.  The entire PhET style guide is available here:
https://docs.google.com/document/d/1Ys1EiwnqQGYuzGOcQSr4uXDes35mF1v1XhMZIl10nk8/edit#heading=h.1oxr3ptyo50w

[2017-05-12 22:28] samreid opened #10 "Use options where possible"
I noticed this code in a recent commit:

[code]

Where possible, it is often preferable to include all settings into the options argument, like so:

[code]

Can you make this change and see if there are other parts of the code that should follow this same pattern?

[2017-05-12 22:30] samreid opened #11 "JSDoc incorrect for MaxSpinner"
MaxSpinner.js shows this JSDoc:

[code]

It seems like it may have been copy pasted from elsewhere.  This issue is a reminder to update it.

[2017-05-15 12:07] coledu commented on #9
I have acknowledge this issue and inform Vincent and Michael of this issues as well.

[2017-05-15 17:08] davisv7 commented on #8
I went through IntroScreenView, NumberLineIcon, FractionNode and MaxSpinner and fixed this issue by either deleting the extra call or using the mutate method.

https://github.com/phetsims/fractions-intro/commit/a8f4428a9f90235f3fa86ac8a3c05fe0729e48f9

(forgot to add the link to commit title, sorry)

[2017-05-15 17:08] #8 closed

[2017-05-15 17:15] davisv7 commented on #10
I've moved the arguments into the options for maxText. When I looked through other functions, I didn't find this same issue.

[2017-05-15 17:15] davisv7 commented on #11
Fixed the JSDoc for MaxSpinner.

[2017-05-15 17:15] #11 closed

[2017-05-15 17:44] phet-steele opened #12 "Lint issues"
[code]

[2017-05-15 17:50] #6 closed

[2017-05-15 19:12] samreid commented on #10
Thanks @davisv007, looks great!  As a new policy for you and your team, I'd like to recommend the following:

When an issue is reported by a code reviewer, designer or quality assurance team member, after you and your team has addressed the issue, please comment about what was done and reassign back to the original reporter to review/test and close.

Please check yourself off when you have reviewe

[2017-05-15 19:14] samreid commented on #11
Looks great, thanks!

[2017-05-15 19:15] samreid commented on #6
Looks great, thanks!

[2017-05-15 19:37] veillette commented on #12
The three linting errors were addressed and the sim is passing the linting test.

[2017-05-15 20:00] phet-steele commented on #12
Fixed, thanks @veillette.

[2017-05-15 20:00] #12 closed

[2017-05-16 03:19] samreid opened #13 "Rename maxNumberOfUnitsProperty to maxProperty"
In my opinion, it seems like "numberOfUnits" in the term maxNumberOfUnitsProperty is redundant, and a better name for the variable would be `maxProperty` since it indicates the maximum value the fraction can take.  Another reason I prefer the name `maxProperty` is because within the sim, the value is referred to as "max" not "max number of units".

![image](https://cloud.githubusercontent.com/asse

[2017-05-16 13:52] veillette opened #14 "Generalize NumberLineNode"
NumberLineNode should be reusable for the equality lab simulation.

![image](https://cloud.githubusercontent.com/assets/7633344/26109206/c4dab232-3a1c-11e7-98d3-4e5d14c37eb6.png)

It is very similar to the number Line on the intro tab.
![image](https://cloud.githubusercontent.com/assets/7633344/26109230/dbeb42f2-3a1c-11e7-97f8-cd3291338108.png)

There are five main distinctions:

 - it is vertical

[2017-05-16 14:12] veillette commented on #14
![image](https://cloud.githubusercontent.com/assets/7633344/26110256/cbe72a94-3a1f-11e7-8cbd-4794cdfb55e4.png)

I have set it up such that the number line can be vertically aligned when passing the appropriate options.
Assigning to @michaelm396 to add the pink arrow in vertical mode.

[2017-05-16 14:18] veillette commented on #13
@michaelm396 , please refactor maxNumberOfUnitsProperty to maxProperty throughout the simulation. Make sure to refactor all comments as well.

[2017-05-16 15:18] michaelm396 commented on #13
I refactored the [maxNumberOfUnitsPropety, MAX_NUMBER_OF_UNITS_RANGE, maxNumberOfUnits, maxNumberText, and maxText] into [maxProperty, MAX_RANGE, max, maxValueText, and maxLabelText] throughout the simulation.

[2017-05-16 15:34] samreid commented on #13
Looks great, thanks!  Also, @michaelm396 are you committing from @veillette's account?

[2017-05-16 15:52] michaelm396 commented on #13
We are currently trying to figure out the committing errors. IntelliJ is committing with the incorrect user logon, but I did in fact refactor the changes. Thanks.

[2017-05-16 15:53] samreid commented on #13
Since the refactoring looks good, I'll close this issue.  Feel free to open a new issue about correcting the IntelliJ credentials, if you wish.

[2017-05-16 15:53] #13 closed

[2017-05-17 19:30] coledu opened #15 "cylinder color"
In the process of porting fraction intro from java to JavaScript we realize that the cylinder have liquid that fill the container. And we think it might be more appropriate to use blue instead of yellow to represent water. I have created a mockup so you can see the difference. I am open to any suggestions or pixel polish or changing of the gradient of the cylinder.
Old:
![image](https://cloud.gith

[2017-05-17 19:31] coledu commented on #9
Everyone is aware. Closing the issue.

[2017-05-17 19:31] #9 closed

[2017-05-17 20:06] michaelm396 commented on #4
All of the team members have updated this setting. In the future, we will try to be more aware of these changes. Closing this issue. Thank you.

[2017-05-17 20:06] #4 closed

[2017-05-17 20:20] michaelm396 commented on #10
All of the team members have reviewed this recommendation. I'm closing this issue. Thank you

[2017-05-17 20:20] #10 closed

[2017-05-17 20:59] ariel-phet commented on #15
@coledu the original thought behind the design was to have lots of different colorful and "fun" choices for shapes and such. We would probably want to retain yellow as a color (so for instance make the rectangle yellow) if we make the liquid be blue.

[2017-05-17 21:00] ariel-phet commented on #15
Assigning to @amanda-phet to make the call.

[2017-05-18 04:20] jonathanolson opened #16 "Recommend file for representation enumeration"
Currently, the enumeration is an array of strings:

[code]

I'd recommend something like area-builder's GameState, e.g.:
[code]
but with an additional array (`GameState.VALUES`?) so that it can be used for Property's validValues.

[2017-05-18 12:07] michaelm396 commented on #14
@coledu and I have successfully generalized the NumberLineNode file. It now displays a pink arrow and pink dot that slides along the Number Line when displayNode: true. Now reassigning this issue to @veillette for a check. Thank you

[2017-05-18 13:42] veillette commented on #16
@michaelm396  will take the lead on this issue.

[2017-05-18 15:04] coledu commented on #14
I have added multiplication faction property to number line node and modify the append tick function to take in an option for direction that determine which side the tick appear on or if it is symmetric. This add the functionality of setting the left and right tick marks independently of one other. This will be useful in the equality lab tab. Sorry, I forgot to reference the issue in my commit. He

[2017-05-18 15:10] amanda-phet commented on #15
I always thought it was juice! Blue water seems to work here as well, but I agree we'd want to make the rectangle yellow to balance it out. A "warm" tone like FFE600 would work well.

[2017-05-18 15:28] coledu commented on #14
Assigning back to @veillette for review.

[2017-05-18 16:30] jonathanolson opened #17 "Redundant Property values check"
In IntroModel, the following check is not needed:
[code]
because the equivalent happens by specifying the validValues on the Property directly.

[2017-05-18 16:33] jonathanolson opened #18 "Color fill preferred over gradient with no variation"
In BeakerNode, the following gradient could be replaced with a constant color value:
[code]

[2017-05-18 16:37] jonathanolson opened #19 "Refactoring to avoid repeated color values"
In BeakerNode, the following code has repeated color values that could be missed in future maintenance:
[code]

Usually I'd recommend extracting these color values into variables or some other method to get rid of the duplication.

In this case, it would be possible to avoid having two gradients, and instead do something like `capPath.setScaleMagnitude( -1, 1 )` so that it is flipped horizontally

[2017-05-18 17:12] jonathanolson opened #20 "BeakerNode perspectiveFactor"
Its usage only looks like it is using `perspectiveFactor / 2`. Can the constant factor be changed so that just `perspectiveFactor` can be used?

[2017-05-18 17:16] jonathanolson commented on #18
Presumably also the mainGradient / capGradient parameters to createBeaker would change to mainFill and capFill?

[2017-05-18 17:22] jonathanolson opened #21 "Future ratio constraints and the beaker"
Currently, the code for displaying the beaker has a hard assumption that the liquid will either only be (a) completely full, or (b) low enough where liquid isn't visible from the top of the beaker (only through the glass).

Is that an acceptable constraint? I'd usually have the beaker split into two parts (the "front" and a small section of the "back" at the top) so that this wouldn't be an issue

[2017-05-18 17:28] jonathanolson commented on #21
Also, since opaque colors are used (instead of transparent colors), the line showing the back bottom of the beaker is true gray (would expect the front blue/reflection to affect its appearance). Currently throws off the perspective effect a bit.

[2017-05-18 17:34] jonathanolson commented on #21
(Was assigned to @ariel-phet as he was lead on the Java version, couldn't find the design doc for the HTML5 version if there was one)

Original Java version shades things like I would expect with my described implementation:
![screen shot 2017-05-18 at 11 33 13 am](https://cloud.githubusercontent.com/assets/480878/26215528/e2d03f30-3bbd-11e7-893e-639476f0e02b.png)

[2017-05-18 17:36] jonathanolson opened #22 "LineWidth default is 1"
Specifying `lineWidth: 1` is unnecessary (e.g. in NumberLineIcon).

[2017-05-18 17:37] jonathanolson opened #23 "Text casts numbers to strings"
Directly casting to a string, e.g. `new Text( 0 + '', ... )` in NumberLineIcon is not needed.

Furthermore, since those are just constant numbers, I'd recommend replacing with constant strings, since `0 + ''` is just `'0'`.

[2017-05-18 17:41] jonathanolson opened #24 "NumberLineIcon options"
In RepresentationPanel, the NumberLineIcon is instantiated with:
[code]
but the passed in options are never used, since NumberLineIcon passes this to Node:
[code]

I'd recommend removing the options parameter for NumberLineIcon (since usually it would be used for positioning, which RadioButtonGroup takes care of, and inlining the children call:
[code]

[2017-05-18 17:43] jonathanolson commented on #24
Ideally, things would be inlined further, leaving a simpler-to-read version:
[code]

[2017-05-18 17:48] jonathanolson opened #25 "Extra block and weird indenting in NumberLineNode"
Current function body:
[code]

It's possible to remove the extra block and combine lines on the options override (as is usually done):
[code]

It's recommended to not use JS blocks (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/block notes:

[2017-05-18 17:55] jonathanolson commented on #25
Further, if the direction can be required (or even left as an optional argument that is undefined if not provided), the code can be simplified to:
[code]

[2017-05-18 18:01] jonathanolson commented on #25
Given the few locations where this method is used, I'd consider just refactoring:

First location goes from:
[code]
to
[code]
and the second location goes from:
[code]
to:
[code]

so appendTick wouldn't be needed.

[2017-05-18 20:28] michaelm396 commented on #16
I have committed the RepresentationPanel.js file and pushed the changes. I am now assigning this issue to @jonathanolson in order to evaluate the updates. Thank you.

[2017-05-18 20:47] coledu commented on #25
I took out append tick and make the necessary changes. Assigning to @jonathanolson for review.

[2017-05-18 20:56] jonathanolson commented on #25
Looks good to me, thanks!

[2017-05-18 20:56] #25 closed

[2017-05-18 20:58] jonathanolson commented on #16
I'd recommend potentially naming the enumeration `Representation`, since I'm not sure what the 'State' part would be describing? (GameState is describing one of the states the game can be in, here you're describing which representation is being shown).

[2017-05-18 21:05] michaelm396 commented on #24
I have inlined numberLinePath, numberText0, and numberText1 in the NumberLineIcon.js file. I have also updated the RepresentationPanel.js file to relfect the changes, I am now assigning this issue to @jonathanolson for further review. Thank you.

[2017-05-18 21:07] davisv7 commented on #19
@jonathanolson I used the code you recommended to reverse the gradient. By adding onto an existing conditional I was able to preserve the cap gradient of the liquidBeaker.  Now there are only 3 different 'gradients' in use.

I will extract the 4 colors to variables tomorrow.

[2017-05-18 21:13] jonathanolson commented on #24
Looks good, thanks!

[2017-05-18 21:13] #24 closed

[2017-05-18 21:28] veillette commented on #20
it is the width that is divided by 2 (to get the radius) and then it is multiplied by the perspectiveFactor. We should reorder the operations  to make it more explicit.

[2017-05-18 22:02] ariel-phet commented on #21
@jonathanolson agreed. There is not really an HTML5 design doc at the moment (since the java version is basically the spec).

[2017-05-18 22:02] ariel-phet commented on #21
Assigning to @veillette and his team

[2017-05-18 22:09] jonathanolson commented on #16
Let me know if I can clarify (as I was reassigned above?), waiting on a response about renaming RepresentationState => Representation (or something else) as noted above.

[2017-05-18 22:19] jonathanolson commented on #21
Ok, I'll describe in more depth my proposed solution:

The beaker would be separated into three layers:

- Bottom layer: the bottom-back of the beaker (the line) and the top "reversed gradient" cap
- Middle layer: the liquid's side and top
- Top layer: the front of the beaker, including the tick marks.

The beaker and liquid would use fills (mostly gradients) that would be mainly transparency-base

[2017-05-18 22:28] veillette commented on #16
my oversight.. We will take a look at renaming to Representation.

[2017-05-19 15:03] coledu commented on #23
@michaelm396 fixed this issue yesterday with his commit 488de23e8cf3f833f4d2ffd1048d4ec42bb65238. Assigning @jonathanolson to review this issue.

[2017-05-19 15:09] coledu commented on #22
@michaelm396 fixed this issue with his commit 488de23e8cf3f833f4d2ffd1048d4ec42bb65238. Assinging to @jonathanolson for review.

[2017-05-19 15:25] davisv7 commented on #20
@jonathanolson, we looked at the code you were concerned about and noticed that almost every use of options.beakerWidth is accompanied by a division of 2. @michaelm396 , @coledu , and I discussed this and we think it would be more intuitive to continue taking beakerWidth as an option for BeakerNode, but in the function itself to create a variable radius = beakerWidth / 2 and replace all the instan

[2017-05-19 15:49] davisv7 commented on #20
We replaced beakerWidth / 2 with radius in the first commit, but accidentally added another file we were still working on. I removed it with the second commit.
Assigning the issue back to @jonathanolson now for review.

[2017-05-19 15:54] jonathanolson commented on #22
I see two usages of this still in BeakerNode, one in NumberLineNode and one in RepresentationPanel?

[2017-05-19 15:56] jonathanolson commented on #20
Much cleaner, thanks!

[2017-05-19 15:56] #20 closed

[2017-05-19 15:58] jonathanolson commented on #23
Thanks.

Also noticed this is happening in FractionNode (`.text = value + ''`) and MaxSpinner (`maxValueText.text = value + ''`).

[2017-05-19 16:05] jonathanolson opened #26 "(read-only) marked on Properties in model"
In IntroModel, many of the Properties are marked as `(read-only)`. Generally this indicates that they should not have their value modified by code outside of the file.

Presumably only `this.fractionProperty` is actually read-only, since the others are presumably mutated by other code (e.g. UpDownSpinner with `this.denominatorProperty`), and those documentation labels can be removed?

[2017-05-19 16:08] jonathanolson commented on #16
Additionally, you'll want to change documentation from things like
[code]
to use `{Property.<Representation>}` (it gets treated as its own type for documentation).

[2017-05-19 16:11] jonathanolson opened #27 "ICON_SCALE"
RepresentationPanel's ICON_SCALE is currently set to `1.00`. Can it be removed, or potentially refactored so that there is a common set of Node options for each icon like `{ scale: 1.2, stroke: 'black' }`?

[2017-05-19 16:18] veillette commented on #26
We will follow the convention discussed in the dev meeting from this point on.

[2017-05-19 16:26] veillette commented on #26
All the properties are now `@public` except for this.fractionProperty  which has a `@public (read-only)` annotation

[2017-05-19 16:26] veillette commented on #26
Assigning back to @jonathanolson  for review.

[2017-05-19 17:16] coledu commented on #18
@davisv007 and I refactored mainGradient and capGradient to mainFill and capFill. We also replaced the fullCapFill with a color. With our last commit: 856ec05cb330c38e5a68ea22ed796f841ad0b2f5
Reassigning to @jonathanolson for review.

[2017-05-19 17:32] jonathanolson commented on #26
Looks good, thanks!

[2017-05-19 17:32] #26 closed

[2017-05-19 17:35] jonathanolson commented on #18
Looks good, but you'll want to update the `{LinearGradient}` type documentation to something like `{LinearGradient|string}`. Additionally, keep https://github.com/phetsims/fractions-intro/issues/21 in mind, as it may preempt some of this.

[2017-05-19 17:43] jonathanolson opened #28 "Short for centering objects on others"
Instead of:
[code]
it is possible to just say:
[code]

[2017-05-19 17:45] jonathanolson opened #29 "Shortcut for setting Line coordinates"
Instead of:
[code]
it's somewhat easier to read when using the ES5 setter:
[code]

[2017-05-19 17:47] jonathanolson opened #30 "Inlining of single-use variables"
Particularly for Node creation where the only thing done with the variable reference is as a parameter to addChild, I recommend inlining the variable, e.g. changing:

[code]
to
[code]

Noticed this with majorTickLabel in NumberLineNode, but there might be others.

[2017-05-19 18:26] coledu commented on #23
I took out the casting and searched the intro directory for any other occurrence but did not find any. Assigning back to @jonathanolson for review.

[2017-05-19 18:30] michaelm396 commented on #16
I have made the recommended changes to the parameters of "IntroModel.js" and "RepresentationPanel.js". I am now assigning this issue to @jonathanolson for further review.

Thank you.

[2017-05-19 18:31] jonathanolson commented on #23
Thanks, looks good!

[2017-05-19 18:31] #23 closed

[2017-05-19 18:33] jonathanolson commented on #16
Looks great, thanks!

[2017-05-19 18:33] #16 closed

[2017-05-19 18:42] michaelm396 commented on #17
I have made the necessary changes to the "IntroModel.j" file. I removed the check statement, specifically for the "representationProperty" (Link to file) : d4a7c0efe7889d3a7a6b0b4c6e27f841b07c51c2

Assigning issue to @jonathanolson for further review.

Thank you.

[2017-05-19 19:05] coledu commented on #22
I deleted all the linewidth with the default value. Assigning to @jonathanolson for review.

[2017-05-19 19:31] davisv7 commented on #18
The type documentation has been updated. Back to @jonathanolson for review.

[2017-05-19 19:42] coledu commented on #28
On line 184 you can see that I changed the center of the rectangle by setting it to the center of the circle. Assigning to @jonathanolson for review.

[2017-05-19 19:47] jonathanolson commented on #28
Looks great, thanks!

[2017-05-19 19:47] #28 closed

[2017-05-19 19:47] jonathanolson commented on #18
Looks great, thanks!

[2017-05-19 19:47] #18 closed

[2017-05-19 19:47] jonathanolson commented on #22
Looks good, thanks!

[2017-05-19 19:47] #22 closed

[2017-05-19 19:48] jonathanolson commented on #17
Looks good, thanks!

[2017-05-19 19:48] #17 closed

[2017-05-19 19:53] davisv7 commented on #30
@jonathanolson, I inlined majorTickLabel and looked around for other issues in other files, but I did not see any. Assigning back to you for review.

[2017-05-19 20:19] coledu commented on #29
I replace mainNumberLine.setX2( segmentLength * max ); with mainNumberLine.x2 = segmentLength * max;. Assigning @jonathanolson for review.

[2017-05-19 20:36] coledu commented on #15
I have changed of the color of the rectangle icon to yellow.

[2017-05-19 20:43] michaelm396 commented on #27
I have created a new parameter for "RepresentationPanel.js" named "iconScale" and removed the variable ICON_SCALE from the file. I am assigning the issue to @jonathanolson for further review.

Thank you,
Michael Moorer

[2017-05-19 20:53] davisv7 commented on #19
I extracted the colors to constants. Reassigning back to @jonathanolson for review.

[2017-05-19 21:41] jonathanolson commented on #19
Looks good, thanks!

[2017-05-19 21:41] #19 closed

[2017-05-19 21:42] jonathanolson commented on #27
Looks good, thanks!

[2017-05-19 21:42] #27 closed

[2017-05-19 21:42] jonathanolson commented on #29
Looks good, thanks!

[2017-05-19 21:42] #29 closed

[2017-05-19 21:43] jonathanolson commented on #30
Sounds good, thanks!

[2017-05-19 21:43] #30 closed

[2017-05-22 18:39] coledu commented on #21
In my last commit, I modified BeakerNode.js. I made the beaker and liquid use transparent colors. I changed the order in which the cylinders are created to bottom-middle-top, and I changed the order it is added to the IntroScreenView. I would like to clarify your proposed solution. First, the changes I made do not seem to affect the image produced. Am I heading in the right direction with these ch

[2017-05-22 22:30] jonathanolson commented on #21
The opacity as would just be applied to the individual colors, not entire parts of cylinders.

I mean that when the beaker cap and liquid cap partially intersect, things should look "correct".

As an example, I've mocked up a quick-and-dirty example of what I mean (uses kite/scenery prefixes so it can run in Scenery's playground for easier testing).

Example images:
![beaker-5](https://cloud.githu

[2017-05-23 17:44] coledu commented on #21
In my last commit , I took your suggestion and change the opacity of the color, reorder the way i draw the cylinder so it won't look like it have a cap only on it and look correctly. I also added a bottom to the beaker. I use the colors that your use in you last comment for the liquid and it seem to be lighter. I would like to know what shades of blue you think we should use. Note: that I have mes

[2017-05-24 15:40] coledu commented on #15
I change the color of the beaker in representation panel to the color that @amanda-phet wanted. I also added cylinder node to the panel as well. I am waiting until we made the rectangle before assigning somebody to review and close this issue. Leaving myself assign for now.

[2017-05-25 17:40] jonathanolson opened #31 "Handle screenshot images"
It looks like images (0.png - 20.png) were added.

I've applied fixes (removing capitalization of extensions, putting temporary stubs into images/license.json) so that the sim builds properly.

I presume these are temporary, and will be removed as development progresses, so I've created an issue to make sure that's done.

[2017-05-25 17:42] jonathanolson opened #32 "Use of Vector2.ZERO"
Instead of
[code]
it's recommended to just use
[code]
since the value of the Property itself generally doesn't get mutated. Noticed in Cell.js

[2017-05-25 20:48] veillette commented on #14
This was well done. It can be used for the third tab. Thanks @coledu . Closing

[2017-05-25 20:48] #14 closed

[2017-05-26 12:24] coledu commented on #32
I have update cell.js to use Vector2.ZERO instead of Vector2(0,0). I did not see we using it again in any other code. Assigning to @jonathanolson for review.

[2017-05-26 12:46] coledu commented on #31
I have changed @jonathanolson note in license.js to reflect the actual usage of the images that I have added and explained that these images are temporary and will be removed later. We are using images from the java version for comparison reasons and they will be removed later. Leaving this issue open until we remove the images.

[2017-05-26 22:58] jonathanolson opened #33 "Cell model design"
@samreid and I discussed potential initial implementations. Here's a first draft of how things would potentially work:

Model:

Cell
- isFilledProperty `@public {Property.<boolean>}` - Whether the cell is visually filled in.
- incomingPieceProperty `@public {Property.<Piece|null>}` - If it exists, the piece that is animating towards this cell to fill it.
- distanceTo `@abstract @public function( {

[2017-05-30 17:04] veillette commented on #33
@michaelm396, @davisv007, @coledu: check off the boxes as you adress issues

Model:

Cell
 - [x] isFilledProperty `@public {Property.<boolean>}` - Whether the cell is visually filled in.
 - [x] incomingPieceProperty `@public {Property.<Piece|null>}` - If it exists, the piece that is animating towards this cell to fill it.
 - [x] distanceTo `@abstract @public function( {Vector2} ) : {number}` - Dis

[2017-05-31 13:48] davisv7 commented on #33
Made a commit that added a couple of these methods and attributes to the program.

[2017-05-31 19:49] phet-steele opened #34 "ReferenceError: TWEEN is not defined"
Seems to only be a problem in built versions when releasing a beaker to have it animate back to its bucket.
[code]

[2017-06-01 13:01] veillette commented on #34
I added the tween library to package.json. The beaker are now returning to the bucket in the built version.
Assigning to @phet-steele to review.

[2017-06-01 14:03] samreid commented on #33
I reviewed @jonathanolson's proposal.  Everything looks good, here are some minor comments:

Cell.incomingPieceProperty will be used in the following scenario: A user taps the up numerator spinner to send a piece to the cell.  Then while the piece is animating, the user taps the down numerator spinner.  We may use the Cell.incomingPieceProperty to know which piece was animating to the cell so it m

[2017-06-01 14:08] samreid commented on #33
I guess my last comment is about: `position @public {Property.<Vector2>}` which should probably be positionProperty.

[2017-06-01 16:36] phet-steele commented on #34
Looks great, thanks @veillette!

[2017-06-01 16:36] #34 closed

[2017-06-01 17:29] jonathanolson commented on #33
Sounds fine. Presumably then for things like cake/pie pieces, the position will need to be visually in the center, so both cells and pieces would presumably want to share the same offset information.

RectangularCell's bounds would be its visual bounds taken up? Each cell that is rectangular is displayed with a rectangle, and that rectangle's bounds (in model coordinates) would presumably be store

[2017-06-01 17:31] jonathanolson opened #35 "Switch default: break"
There looks like an empty default case in BucketNode. Usually in this case we'd add a `throw new Error( ... )` in this case, since it looks like it should never be reached.

[2017-06-01 17:36] jonathanolson opened #36 "NumberLineNode's multiplicationFactorProperty"
It gets set only as `new NumberProperty( 1 )` and is never changed. I also don't understand the documentation of what it is supposed to be doing. It seems to control the granularity of number of ticks, but seems like it shouldn't be anything besides 1, but documentation notes it is a ratio between (presumably) how far tick lines go above the line visually vs below?

[2017-06-01 17:39] jonathanolson opened #37 "CakeNode's maxHeight"
A default maxHeight is being set in the options, but this is applied to the grid/cake images AND is applied to the entire CakeNode with the `this.mutate( options );`. Is it meant to restrict the size of the entire CakeNode (in which case it should be documented, and possibly the other usages removed?), or is it meant to just apply to the images?

[2017-06-01 17:40] jonathanolson opened #38 "NumberLineNode's rotation"
I only see the horizontal rotation being used. Are there plans to have the number line rotated vertically?

[2017-06-01 17:40] jonathanolson commented on #38
Same with `displayArrow`?

[2017-06-01 17:43] jonathanolson opened #39 "Center shortcut"
Instead of specifying both `centerX: 0` and `centerY: 0` (like the highlighterRectangle in NumberLineNode), it's recommended to just set `center: Vector2.ZERO`.

[2017-06-01 17:46] jonathanolson opened #40 "NumberLineNode major/minor simplification"
Currently the condition for major/minor ticks is checked multiple times in the following code, creating extra duplication:
[code]

recommended to factor out the `tickLength` to simplify, something like:
[code]

[2017-06-01 17:47] jonathanolson commented on #38
If rotation is supported, then it should be handled in the markerCircle's drag handler.

[2017-06-01 18:00] jonathanolson opened #41 "CakeNode's cakeImageArray and cakeGridImageArray"
First of all, these should be created outside of the constructor, so that they aren't recreated for every single CakeNode.

Second, I don't know if it would be preferred, but initializing them as such does take up less code:
[code]

[2017-06-01 18:00] coledu commented on #36
Hello @jonathanolson  ,
Yes the Number do not change from one in the intro tab but when this number is increase it multiple the number of ticks on the number line. We will not use this propetry in the intro tab but will change this for the equality tab. In the image below you can see how the number line is affect when this property is change to four:
![image](https://cloud.githubusercontent.com/as

[2017-06-01 18:03] davisv7 commented on #35
I pushed a commit that causes the program to throw an error if the default case is reached. Reassigning back to @jonathanolson for review.

[2017-06-01 18:03] jonathanolson commented on #36
Sounds great. Can the documentation note that it multiplies the quantity of ticks on the bottom?

[2017-06-01 18:04] coledu commented on #38
Hello @jonathanolson ,
See #36. This will explain that the multiplication factor property, rotation, and display arrow will be use later  for the equality lab.

[2017-06-01 18:11] jonathanolson commented on #38
Sounds great, thanks!

[2017-06-01 18:11] #38 closed

[2017-06-01 18:11] jonathanolson commented on #35
Looks good, thanks!

[2017-06-01 18:11] #35 closed

[2017-06-01 19:46] coledu commented on #36
I added the comments to explain multiplicationFactorPropetry, displayArrow, and vertical rotation. Assigning @jonathanolson for review.

[2017-06-01 19:47] davisv7 commented on #39
Done. I checked other modules to see if this appeared elsewhere, and I did not see it anywhere else.

Assigning to @jonathanolson for review.

[2017-06-01 20:04] jonathanolson commented on #39
Looks good, thanks!

[2017-06-01 20:04] #39 closed

[2017-06-01 20:04] jonathanolson commented on #36
Looks great, thanks!

[2017-06-01 20:04] #36 closed

[2017-06-01 20:16] coledu commented on #40
I have make the necessary changes in numberline node assigning @jonathanolson for review.

[2017-06-01 20:16] michaelm396 commented on #41
I fixed the issue pertaining the order of the cakeImageArray and the cakeGridImageArray. In doing so, gave us the option to remove any extra null values inside of the arrays which has been commit-ted. I am assigning this issue back to @jonathanolson for further review. Thanks.

[2017-06-01 20:51] davisv7 commented on #37
Pushed commit 69e0014e67e499f39c15cf807ef49639b7bbb5cf that passes max height to this.mutate instead of using it on each image.

Assigning to @jonathanolson for review.

[2017-06-07 18:27] jonathanolson opened #42 "Assertion failures"
There seem to be multiple failures happening. Can guarantee triggering at least one by going to the cake scene.

Use the query parameters `?brand=phet&ea&fuzzMouse` to trigger the errors with the dev tools open to debug.

[2017-06-07 18:32] jonathanolson opened #43 "Prefer named bounds properties when positioning things"
For example, in IntroScreenView's positioning of the ResetAllButton:
[code]
should ideally be (for readability):
[code]
and similar should be done for code based on positioning objects. It's equivalent, as `right` is an alias for `maxX`, etc.

[2017-06-07 18:33] jonathanolson commented on #40
Looks good, thanks!

[2017-06-07 18:33] #40 closed

[2017-06-07 18:34] jonathanolson commented on #37
Looks good, thanks!

[2017-06-07 18:34] #37 closed

[2017-06-07 18:34] jonathanolson commented on #32
Looks good, thanks!

[2017-06-07 18:34] jonathanolson commented on #41
Looks good, thanks!

[2017-06-07 18:34] #41 closed

[2017-06-08 12:40] davisv7 commented on #43
I looked though the program and changed all min/max/x/y to use bounds properties instead.
Back to @jonathanolson for review.

[2017-06-08 16:30] jonathanolson commented on #43
Looks good, thanks!

[2017-06-08 16:30] #43 closed

[2017-06-09 15:51] jonathanolson commented on #42
There are still failures happening, and it's affecting my ability to review (since I can't try out the current behavior of the sim).

[2017-06-09 16:18] jonathanolson opened #44 "PieceDragHandler"
The current implementation seems to be adding the drag handlers directly to things that, when clicked, will create a draggable piece.

The following pattern is instead recommended, where only a listener with down() is added to those clickable areas, and instead the drag handler on the PieceNode would have the startDrag() forwarded.

Thus when a down event happens (and a piece can be created):

- A

[2017-06-09 16:44] jonathanolson opened #45 "FractionNode's fill"
The option is used as a stroke and a fill. Usually we'd name it 'color' instead?

[2017-06-09 16:46] jonathanolson opened #46 "FractionNode layout"
Let me know if I'm wrong, but it looks like all of the layout is duplicating what a VBox with spacing:2 would do?

No need to horizontally center things, or to set the top/bottom.

[2017-06-09 17:24] jonathanolson opened #47 "FractionWithSpinners layout"
Instead of:
[code]
I would recommend inheriting HBox with the following layout (so positional parts aren't needed):
[code]

[2017-06-09 17:51] jonathanolson opened #48 "CakeCellNode height"
It's an option provided to Image, but won't do anything?

[2017-06-09 18:19] jonathanolson opened #49 "CakeCellNode drag"
Usually it would be backed by changing a model position instead of a handler directly moving the Node.

[2017-06-09 18:23] coledu commented on #42
Thanks @jonathanolson . We will be more vigilant aboutour commits and make sure to runn the simulation with the flag &ea in the future.

We have created placeholder circle and horizontal bar for the sake of passing the assertion test.

The simulation passes fuzzMouse with assertions enabled.

[2017-06-09 18:24] coledu commented on #42
Assigning back to @jonathanolson for review.

[2017-06-09 18:38] jonathanolson opened #50 "BucketNode doc"
Is it a bucket node (seems to be), or does it create bucket nodes?

[2017-06-09 18:39] jonathanolson opened #51 "Mouse/touch presses on bucket"
Usually mouse/touch down on the bucket would act the same as a direct down on the pieces inside the bucket.

Should be fairly trivial with changes for https://github.com/phetsims/fractions-intro/issues/44

[2017-06-09 19:00] jonathanolson opened #52 "Views for pieces/containers/containersets"
It was pretty confusing that BeakerNode isn't one beaker, CakeNode isn't one cake, but they are actually essentially containerset nodes (BeakerContainerSetNode).

Can we have separate view nodes for pieces, containers, and container sets if needed? For example, CakePieceNode, CakeContainerNode and CakeContainerSetNode? (ContainerSetNodes may not be needed, as they are probably just hboxes that for

[2017-06-09 19:04] coledu commented on #45
I have refactored fill to color, and searched for any other occurrences. I did not see any more in our project. Assigning back to @jonathanolson for review.

[2017-06-09 19:07] jonathanolson opened #53 "Rectangle constructors"
Instead of:
[code]
It's more concise to avoid more constructor parameters, and either just ditch the unneeded corner radii:
[code]
or it's possible to just use options:
[code]

[2017-06-09 19:31] coledu commented on #50
I have updated the jsdoc with new info. It is a bucketnode. Assigning to @jonathanolson for review.

[2017-06-09 19:32] jonathanolson commented on #45
Commit seems to have changed to setting the Text's 'color', which doesn't exist. Should be `text.fill = color` and `otherThing.stroke = color`.

[2017-06-09 19:33] jonathanolson commented on #50
Looks good, thanks!

[2017-06-09 19:33] #50 closed

[2017-06-09 19:36] jonathanolson commented on #42
Just pulled and got this error while fuzzing:
[code]

[2017-06-09 19:40] jonathanolson opened #54 "Prefer step() updates to TWEEN usage."
Potentially see if you can use TWIXT/Easing or other methods.

TWEEN usage going forward is, to my knowledge, "forbidden in the model, frowned upon in the view".

[2017-06-09 19:42] jonathanolson commented on #32
Reopening, looks like Piece creates a property based on `new Vector2( 0, 0 )`

[2017-06-09 19:45] jonathanolson opened #55 "Piece.updateCellsEmitter"
[code]
Seems like its documentation is very different from the name (ignoring "the the"). I've also seen things that say it "updates the view"? If it's an emitter that is only fired when it reaches its destination, then `reachedDestinationEmitter` would be more appropriate.

[2017-06-09 19:50] jonathanolson commented on #55
Err sorry, there is a reachedDestinationEmitter just above it. How is reaching a cell different from reaching a destination (I guess if it's going back to a bucket?), and could we just use reachedDestinationEmitter?

[2017-06-09 19:52] jonathanolson opened #56 "Piece.triggerToCell"
The following reaches into Cell's state:
[code]
I would slightly prefer if this logic would be moved to a new Cell.fill() method (or equivalent).

[2017-06-09 19:54] coledu commented on #45
I have fixed the issue with the color option for FractionsNode. Assigning back to @jonathanolson for review.

[2017-06-09 19:56] jonathanolson opened #57 "Piece disposal"
It looks like Piece's dispose() unlinks listeners it owns from properties it owns.

Usually disposal would be used to release listeners or references to the Piece that are stored in external objects. When there is no reference to a Piece, a listener of the Piece on a property of the Piece shouldn't prevent any garbage collection or trigger leaks.

[2017-06-09 19:58] jonathanolson commented on #57
So, for example, inlining things like animateToCell would be good:
[code]

[2017-06-09 19:59] jonathanolson commented on #45
Looks good, thanks!

[2017-06-09 19:59] #45 closed

[2017-06-09 20:00] davisv7 commented on #53
I implemented the third recommendation for all rectangle constructors I could find. Assigning to @jonathanolson for review.

[2017-06-09 20:05] jonathanolson opened #58 "Incorrect something in beaker scene"
Somehow with toggles I was able to get the sim to this state:
![screen shot 2017-06-09 at 2 04 20 pm](https://user-images.githubusercontent.com/480878/26992604-a1c48eb8-4d1c-11e7-838f-ac6788b02ec2.png)

I would presume it would show a half-full beaker?

If I notice anything about how this happened in the code, I'll update this issue.

[2017-06-09 21:27] jonathanolson commented on #21
I haven't done an exhaustive search for differences, but notably:

- emptyBeakerBackside isn't reversed, so the highlight is on the wrong side of the node.
- The beakerBottom should have a flat fill, no gradient (it isn't curved)
- The cap for the liquid should have a flat fill, no gradient (it isn't curved). It also doesn't need to be horizontally swapped.
- The main body/side of the liquid shoul

[2017-06-09 21:44] jonathanolson commented on #53
Looks good, thanks!

[2017-06-09 21:44] #53 closed

[2017-06-09 21:46] jonathanolson opened #59 "VerticalBarNode's containerRectangle"
It's constructed as:
[code]
but its rectX and rectY are essentially never used, as it is positioned by using centerX and centerY. Can rectX and rectY be removed?

[2017-06-09 21:47] jonathanolson opened #60 "BucketNode properties"
Things like:
[code]
should at least have visibility documentation (`@private` or `@public` usually), and things like iconContainerSet (which hopefully can be removed in another issue) would need both visibility and type documentation.

[2017-06-09 21:50] jonathanolson opened #61 "ContainerSet's containersEmitter"
What is it? I'm not sure from the name, and it doesn't have documentation.

[2017-06-09 22:25] jonathanolson opened #62 "Use NumberSpinner"
See issue https://github.com/phetsims/scenery-phet/issues/305, notably @ariel-phet approving it (https://github.com/phetsims/scenery-phet/issues/305#issuecomment-301870227), and my comments (https://github.com/phetsims/scenery-phet/issues/305#issuecomment-306882193, https://github.com/phetsims/scenery-phet/issues/305#issuecomment-306894672).

It seems the model should have number properties for th

[2017-06-09 22:27] jonathanolson commented on #62
Additionally, if anything else is needed to use NumberSpinner (questions, or if there is disagreement), let me know here. If there are parts of NumberSpinner that can be changed in common code, I may be able to make those changes.

[2017-06-12 12:34] davisv7 commented on #56
Added a method to the cell to perform these actions. Assigning to @jonathanolson  for review.

[2017-06-12 12:55] michaelm396 commented on #60
I have updated the documentation of the public and or private objects of BucketNode. Assigning back to @jonathanolson for further review. Thanks.

[2017-06-12 12:58] davisv7 commented on #59
You're right, rectX,Y can be removed without issue. Should I do anything with the center X, Y?

Assigning back to @jonathanolson for review.

[2017-06-12 13:12] davisv7 commented on #32
I made the change from Vector2( 0,0) to Vector2.ZERO. I looked for but did not find any other instances of this,

Assigning back to @jonathanolson  for review.

[2017-06-12 13:26] veillette commented on #62
@jonathanolson:
The denominator and max spinners can easily be changed to use NumberSpinner.

The numerator spinner cannot use the number spinner as currently designed. The problems lies in the fact the the numerator is an output of the simulation rather than an input. However, the spinners are wired to changed the value of the numerator. So we have something like this
[code]

But there are many w

[2017-06-12 15:11] jonathanolson commented on #56
Looks good, thanks!

[2017-06-12 15:11] #56 closed

[2017-06-12 15:11] jonathanolson commented on #32
Thanks!

[2017-06-12 15:11] #32 closed

[2017-06-12 15:14] jonathanolson commented on #59
Nothing else needed for the positioning, declaring the width/height and positioning by its center works well.

[2017-06-12 15:14] #59 closed

[2017-06-12 15:31] jonathanolson commented on #62
If you need to be able to specifically tag changes that come from the spinner, it's possible to pass it a property that is handled separately:
[code]

however the similar "don't do X when Property Y changes" flag could also presumably be used to toggle whether animation happens when the numerator changes.

Would it be possible to directly pass in the numeratorProperty, but in cases where no animat

[2017-06-12 15:38] coledu commented on #62
As I start to implement the number spinner, I found that the spinner needs to be on the left side of the spinner and there is not an option for this. These are the only options for number spinner:

[code]

Would it be possible to add a 'bothleft' options to number spinner?
My current solution is to put the fontsize to zero and put a separate text to the right of the spinner. This is what  I have s

[2017-06-12 15:39] jonathanolson commented on #60
With the exception of the typo `2private` instead of `@private`, looks good. Can you fix that and close the issue?

[2017-06-12 15:44] jonathanolson commented on #62
@pixelzoom, I hadn't evaluated this previously, but is NumberSpinner the correct thing here? I didn't realize the readout was basically required. That makes it complicated for the right-hand side, where the NumberSpinner is editing a value that is not directly displayed (instead, it affects a multiplier for the entire fraction displayed to the left of the spinner).

If it is the thing to use, can

[2017-06-12 15:47] pixelzoom commented on #62
Not as NumberSpinner is currently implemented.  Up to you and the design team where the change the design, change NumberSpinner, or implement something new (e.g. decouple the arrows and the display).   I would probably go with decoupling.

[2017-06-12 15:57] jonathanolson commented on #62
Sorry @coledu and @veillette, I had assumed that this was the ideal component to use based on the previous content in the issue.

Can it be switched back to the more custom spinner implementation that was used before? Sorry!

[2017-06-12 18:15] #60 closed

[2017-06-12 18:29] veillette commented on #55
We need to distinguish between the update of the cell and the piece reached its destination
The update of the fill of cell might have to be done before the animation, or after the animation depending if the piece emerge from the cell or ends on a cell. The removal of the piece from pieces array is always done at the end of the animation.

The current documentation for updateCellsEmitter is mislead

[2017-06-12 18:37] jonathanolson commented on #55
Is it possible to:

- If the cell would be 'updated' when the animation starts, just have whatever animates the piece also update the cell immediately.
- If the cell would be 'updated' when the animation ends, have whatever animates the piece add an onComplete listener that updates the cell when it ends?

That sounds preferable to a second emitter.

[2017-06-12 18:40] davisv7 commented on #47
Pushed a commit to use HBox. Assigning to @jonathanolson for review.

[2017-06-12 18:48] coledu commented on #62
Ok, I have reverted back to the UpDownSpinner like before. We would like to add the following options to UpDownSpinner. An options to allow fire on hold, and another options to pass in a callback that would allow us to pass in our animate button function. And a final option to change the radius. Adding these feature would be relatively simple and only require a few lines. The following is the code

[2017-06-12 18:50] veillette commented on #55
I still think we need two distinct emitters since we need to ask the piece to remove itself from the observable array, and to signal the containerSet has changed. I agree with you that there should only one emitter on the piece though.

I think it would be preferable for the cellEmitter to be attached to the cell itself rather than the piece.
In the long run. this would allow us to make very targe

[2017-06-12 19:17] veillette commented on #55
On second thought, the emitter of cell is not necessary either since we have a property for isFilled.
We should leverage the isFilledProperty instead.

[2017-06-12 19:20] davisv7 commented on #46
Pushed a commit that uses VBox to lay out the fraction.

Assigning to @jonathanolson for review.

[2017-06-12 20:05] davisv7 commented on #48
Forgot to tag it but, 90e02647ea77f87df4ba2fd8ab13d9bc0ba03a2f addressed this issue. Assigning beck to @jonathanolson for review.

[2017-06-13 05:20] jonathanolson commented on #48
Thanks!

[2017-06-13 05:20] #48 closed

[2017-06-13 05:21] jonathanolson commented on #46
Looks good, thanks!

[2017-06-13 05:21] #46 closed

[2017-06-13 05:39] jonathanolson commented on #62
I may handle more cleanup of UpDownSpinner/LeftRightSpinner as part of https://github.com/phetsims/scenery-phet/issues/311.

Also notably, I'd probably make the relevant changes that are different from the proposal above:

- Seems like the spinners should just take callbacks instead of a valueProperty.
- The horizontal and vertical variants would ideally be combined into one file.
- Ideally you'd

[2017-06-13 06:11] jonathanolson commented on #62
Discussed with @samreid, and I think it seems simplest to just copy the required spinner code into fractions-intro directly, modify it (ideally as I've noted above, I'll elaborate more below), and then when finished have an issue created in fraction-comparison to look at generalizing the fractions-intro one. It will probably be faster if there's something you can modify to suit the desired appeara

[2017-06-13 06:11] samreid commented on #62
@jonathanolson and I discussed it and it seems like sun.NumberSpinner has the following problems:
1. it does not support adding callbacks as listeners (must be through Property interface)
2. it does not support hiding the readout

Hence @jonathanolson will recommend we use a custom implementation so that the Fractions Intro team can have full control over this new component.  Once it is ready we c

[2017-06-13 06:12] jonathanolson commented on #62
Also, sorry about the confusion and changes of direction! I haven't dealt with NumberSpinner/UpDownSpinner/LeftRightSpinner before.

[2017-06-13 06:13] jonathanolson commented on #47
Looks good, thanks!

[2017-06-13 06:13] #47 closed

[2017-06-13 13:19] michaelm396 commented on #61
The containersEmitter, first initialized in ContainerSet, is a public object which signals once a container and/or cell has been updated. This is important because it signals to the Screen View an update to the fill property of a container or cell. I have refactored the name of the object to 'updatedContainersEmitter' in order to more closely resemble its functionality. I have also added documenta

[2017-06-13 15:25] coledu commented on #62
I have added the following options: fireOnHold, radius (which scales the rest of the button), callback, and a two orientation. We are still working on the rotation and the  four different orientations.

[2017-06-14 13:01] coledu commented on #62
Ok, we believe that we have added everything to our new spinner that we need for Fractions-Intro. We have added a dispose function along with the following options:
[code]
We also added the four different orientations that we believe you wanted that are customize by the orientation and arrow Orientation. Below are picture of what value to use for each orientations:

{orientation: 'vertical',
arrow

[2017-06-14 15:49] veillette commented on #57
Thanks, I got it reversed.

I inlined the listener of Piece and removed the piece dispose function.

[2017-06-14 15:50] veillette commented on #57
Assigning to @jonathanolson for review.

[2017-06-14 20:09] coledu commented on #15
I have change all the color. Closing this issue as @veillette say.

[2017-06-14 20:09] #15 closed

[2017-06-15 12:32] veillette opened #63 "create an unlimited number of pieces from a filled cell with vertical bar representation"
In vertical bar representation, clicking on a cell (without dragging) generate a piece that flies to the bucket. However the filled cell does not get toggle to empty, allowing it to be clicked again.

[2017-06-15 13:32] veillette opened #64 "add dispose functions to VerticalBarNode, BeakerNode, NumberLineNode, and CakeNode"
All the representation nodes do not have a dispose function, leading to memory leaks.

[2017-06-16 12:30] coledu commented on #63
What I have learn thus far about this bug:

- Is that this bug only occur on the second pick up after the first pick up without any dragging.
- If you offset the center even by a small number this bug do not occur.
- That the cell color change back and forth after this bug happen which mean that the cell isFIlledProperty is begin toggling (I assume).
- That the specific container cell act as if it

[2017-06-16 14:37] coledu commented on #63
The bug was an unnecessary if statement. Took it out and it fixed the bug. Assigning to @veillette for review.

[2017-06-16 16:53] jonathanolson commented on #64
Handling this soon would help, as fuzzing causes it to leak many GBs of memory (which is likely to be the culprit for our continuous testing having Chrome crashes lately).

[2017-06-16 17:03] jonathanolson commented on #62
It looks like RoundSpinner is using valueProperty. I was anticipating it just using callbacks, which in some cases may be able to adjust a property, as I believe you noted direct access to a property was a problem?

Also, is it planned to have the orientation and arrowOrientation be different?

[2017-06-16 17:16] jonathanolson commented on #61
It's a bit weird that an emitter is being used as a flag to update things like this. Is it there so that there is only one visual update per frame?

I'm leaving assigned to myself for more review.

[2017-06-16 21:07] coledu commented on #64
We pushed a commit that should add the dispose function for all the existing representations. It is being implemented in IntroScreenView.

[2017-06-16 21:35] veillette commented on #64
BucketNode is constantly adding and removing scenery nodes in the bucket  (as well as icon on the bucket). This is a very likely source of memory leak.

[2017-06-16 23:31] ariel-phet opened #65 "Create design document"
@amanda-phet can you create a design doc for fractions intro? For the moment I think it can be pretty bare bones with a note that the Java sim in essence is the design spec. However it would be good to have you review the and make sure we have noted the relevant standards. We will also need a place to put meeting notes (we will probably need one or two meetings) as well a place for interview notes

[2017-06-16 23:37] ariel-phet opened #66 "What screens should be included in full Fraction Intro sim?"
Long ago, when I discussed the HTML5 version with Karina, it was suggested that teachers would find the "Fraction Lab" quite useful, and I believe this idea was backed up by some classroom observations.

So it seems a natural progression of screens might be Intro, Equality, Lab

If we also want to include a game, we decided long ago that Fraction Matcher should not be included, but another possibi

[2017-06-17 09:46] jonathanolson commented on #33
The main model differs fairly significantly from the recommended approach above, so I did a quick prototype this afternoon and tonight so I could recommend a good model structure. (Implemented 3 scenes with all interactive features I'm aware of, see http://www.colorado.edu/physics/phet/dev/olsonjb/fractions-intro_en.html). It's checked into the 'proto' branch, and has a fairly cleaned-up model (wi

[2017-06-17 10:45] veillette commented on #33
@jonathanolson. This is very impressive. we should talk in depth Monday to get your input on what lessons we should heed from your prototype.

[2017-06-19 15:48] samreid commented on #33
@jonathanolson this looks great.  I'm not sure what your plan is for moving forward or what the status of the prototype codebase is, but would it be suitable for @veillette and his team to use that code?

[2017-06-19 18:34] coledu commented on #33
@samreid, we are planning to use @jonathanolson proto code as the master branch and incorporate our view component code into his model once we understand, comment, and clean it up. Since the performance is dramatically improved and his code is divided up into a more sensible fashion we deciding after our meeting to use his code instead of rectifying ours.

[2017-06-19 18:59] samreid commented on #33
That sounds like a good plan, thanks!

[2017-06-19 19:55] coledu opened #67 "PROTO: Beaker Animation in Proto"
BeakerPieceNode need to be animate to the next empty cell when numerator is increase and to the bucket when it is decrease. This is in the proto model that was created in #33 and that we are now using as the master.

[2017-06-19 19:56] davisv7 opened #68 "PROTO: ToDo List: Proto to Master"
The following is a prioritized checklist of changes to get us started with transitioning proto branch of Fractions-Into to become master branch. Each item will have its own separate issue(s).

- [x] Add annotations to the protomodel. (see #70 )
- [x] Properties in the protomodel without listeners should be changed to attributes.  (see #71)
- [x] Protomodel should handle initial property values dif

[2017-06-19 19:59] coledu opened #69 "PROTO: Proto Model HardWired numerator and max init value"
The numerator and max should have the capabilities of handling different number other than 1 as the default value. For example if you change the max default value in the proto it should have 5 container on the screen. But right now it will only have 1. And the same go for numerator. This issue was created in response to a new branch name proto from #33 .

[2017-06-19 20:00] davisv7 opened #70 "PROTO: Add documentation to functions of Proto branch."
Elements of the proto modules either need annotation or they need their annotation updated.

[2017-06-19 20:01] coledu opened #71 "PROTO: Properties without listeners should be changed to attributes"
Find all the property than are not begin listen to and change them from a property to a simple attribute. This issue was created as a response to a new branch named proto that is linked to #33 .

[2017-06-19 20:03] veillette commented on #33
@jonathanolson  and our group discussed what is the best way forward. As @coledu mentionned we decided to focus our work on the prototype.

We have merged the prototype into master. The prototype  and intro have separate Screens. They do not share any components. In the long term, we will like to deprecate the intro screen but for the time being we will keep it as a reference. It contains many vis

[2017-06-19 20:05] davisv007 opened #72 "PROTO: Remove proto prefix"
Variables with the prefix 'proto' within the proto branch should be refactored without the prefix.

[2017-06-19 20:15] davisv7 opened #73 "Deduplicate proto code"
There is duplicate code between the modules of the proto branch that can be abstracted to common modules.

- [ ] between circular and rectangular container nodes
- [ ] between circular and rectangular piece nodes
- [ ] between rectangular view and cellscreen view
- [ ] within circularpiecenode's step and orient methods

This may be turned into four separate issues when we begin addressing this iss

[2017-06-19 20:56] michaelm396 opened #74 "Fix MAX Enable and Disable Property"
Currently the Fractions-proto simulation does not allow the Max Spinner to decrease if the number of filled cells is set to numerator/denominator = maxProperty. This is not true for the java implementation of fractions intro as the canDecreaseMaxProperty should always be enabled unless the MAX_RANGE.min is reached _(proto/ProtoScreenView)_.

[code]

In the Fractions-Intro simulation, we implemente

[2017-06-19 20:58] michaelm396 opened #75 "Implement a mass animation of Container nodes as max spinner is decreased"
Currently in Fractions-proto, it does not enable the sim to mass animate nodes from the screen view to the bucket view as the maxProperty is decreased. In Fractions-Intro this is done in the introModel. _(intro/introModel)_
[code]
We want to emulate this feature.

[2017-06-19 20:59] michaelm396 opened #76 "Line separation of cell in containerView"
Currently the Fractions-proto simulation does not create line separations between the representation Nodes (i.e Circle, Vertical Rectangle, Horizontal Rectangle, Pie) in order to visually show an increase or decrease in denominatorProperty. This should be fairly simple to implement within **(RepresentationNode)ContainerNode**.

[2017-06-19 21:01] veillette commented on #69
I forgot to tag the commit (4ccc870fa9d52161bf92d4f43e73b823fab04f6c)

[2017-06-19 21:39] veillette commented on #69
In the first commit, I had left the values of numerator and denominator and max that I had used to test my change. The second commit restores the default value.

[2017-06-20 13:35] coledu commented on #74
Fix the enable and disable. Still need to work on getting the correct numerator. And moving filled Cell from the pop to container to the next closest empty cell.

[2017-06-20 18:46] amanda-phet commented on #66
It seems to me that the Equality Lab pairs well with Fraction Matcher, so I would keep those together.

I'm not sure I understand how the Fraction Lab screen is supposed to be used, but it seems like it pairs well with the Build a Fraction games.

For this sim (Fractions Intro), I think a good progression could be Intro, Lab (Maybe?), Build a Fraction, Build a Mixed Fraction.

We should probably h

[2017-06-20 20:07] ariel-phet commented on #66
@amanda-phet I am not sure I follow exactly... Fraction Matcher is already its own HTML5 sim with no planned changes, so the "Equality Lab" now only exists in the Java Fractions Intro sim.

My understanding (and it may be good to check with Karina) is that teachers used the Fraction Lab screen in front of the class to compare/contrast various representations and allow discussion questions.

[2017-06-20 20:16] amanda-phet commented on #66
I realize Fraction Matcher is already its own sim and almost proposed that we add the Equality Lab screen to it, but I know that wouldn't be a popular idea. When you pulled out that game into a single sim I wasn't sure what the plans were for the future.

I would definitely talk to Karina about this. She used the sims in a classroom study (I believe it was a custom sim) and that's probably where y

[2017-06-20 20:21] ariel-phet commented on #66
@amanda-phet can you touch base with Karina (ideally before Thursday)

[2017-06-20 20:51] veillette opened #77 "BeakerNode should be used to generate an Icon for the Panel Representation"
The view of the Beaker Node has hard coded value for the beaker size. You should relax these conditions so that they are passed as options instead. with the hard coded values as default values.

[2017-06-20 20:57] veillette opened #78 "Add a Representation panel to the simulation"
After tackling #77, and adding the number line icon, you should add a RepresentationPanel that replaces the placeholder panel in the Proto Simulation

[2017-06-21 14:00] coledu commented on #77
Assigning back to @veillette . I made the option to change the size of the beaker. We discuss adding in a perspective or scaling options to avoid use x Radius and Y radius as a options. Also should I have assign you or Jonathon?

[2017-06-21 14:27] davisv7 commented on #78
Forgot to add the tag but I added the representation panel in this commit: a5aa1c6b4219b656c72e053e50fe4e3da7830d17

It's missing two representations because we don't have methods to generate the icons.... yet.

[2017-06-21 14:47] coledu commented on #62
I have made the changing to not use value property but pass two callback into Round Spinner instead. And yes we are planing are using different orientation for the equality lab.

[2017-06-21 19:24] veillette opened #79 "Add cake Representation"
We should add a cake representation.  For a first step, we should aim at having the z-layer ordering right for the cake. The cake containers node should reflect the representation seen in vertical  bar node and circular node. We can tackle the drag ability later on.

[2017-06-21 20:26] michaelm396 commented on #76
There seems to be an issue with the edgePostion return value that specifically prohibits _i = 8_. This issue, in turn, crashes the entire fractions-intro browser. We tried altering the denominator Number Property in the ProtoModel to values > 8 in order to further troubleshoot. The simulation operated as expected for values of (_i= 9,10,11... etc_) and crashed for i =8. We attempted to fix this is

[2017-06-21 20:49] veillette commented on #72
The screen view formerly called as intro was deleted. The proto screen view was renamed intro.
The simulation lints properly and the simulation passes a two minute fuzz mouse test with assertions.

[2017-06-22 13:18] veillette opened #80 "FuzzMouse hits an assertion"
This is related to our new implementation of cake.
[code]

[2017-06-22 15:18] veillette commented on #72
Assigning to @jonathanolson  for review

[2017-06-22 15:22] veillette commented on #69
To summarize the change to the constructor is to set the appropriate initial value of container and filled cells.
The addition to the code base is

[code]

Assigning to @jonathanolson for review

[2017-06-22 16:17] jonathanolson commented on #69
Sounds great, thanks!

[2017-06-22 16:17] #69 closed

[2017-06-22 16:18] jonathanolson commented on #72
Looks good, thanks!

[2017-06-22 16:18] #72 closed

[2017-06-22 22:39] veillette opened #81 "add Bucket to the simulation"
The bucket Node should hold a representation of the pieces and have a label

[2017-06-22 22:42] veillette commented on #81
previous work done on the bucket was done in https://github.com/phetsims/fractions-intro/commit/afdc55ec50225a61f188f9395940de8eb9a82646

[2017-06-23 12:36] coledu opened #82 "Icon for bucket label and representation panel"
Before we make the icon representation for the bucket label we would like you opinion on this matter. We have a couple of different way to go about this. One is to call each of the respective ContainerNode such as RectangularContainerNode. This is what we did last time and we will pass a model container with one filled cell as well as the appropriate size. Another way to go about the is to create

[2017-06-23 14:35] krhensberry commented on #66
Hi folks,
Sorry for the delay. I've been traveling.
In the Fractions study, we did have a custom sim per the teachers' request. It included the following screens; Intro, BAF, Equality Lab, Matching, and the Fraction Lab (from BAF sim).
The teachers really liked the Fraction Lab. From the paper I wrote on this: "The Fraction
Lab screen was not originally included in Fractions Intro, but rather was

[2017-06-23 15:55] amanda-phet commented on #66
Thank you so much @krhensberry ! It's really useful to hear how teachers use that screen.

We decided in the 6/22/17 meeting to move forward with Intro, Build a Fraction, and Fraction Lab (no mixed numbers) for this sim, and hopefully a second future sim will include mixed numbers. The Equality Lab might need to be ported and added to Fraction Matcher since those two screens make sense together.

[2017-06-23 16:14] amanda-phet commented on #66
The decision (for now), is to have @veillette and his team port the Intro, build a fraction, and fraction lab screens into the HTML5 Fractions Intro sim.

The HTML5 fractions suite could look like this:

Sim (1) - Fractions Intro
1. Intro
2. Build a Fraction game
3. Fraction Lab (no mixed numbers)

Sim (2) - Mixed Numbers
1. Intro (with mixed numbers toggle? Tricky design, but worth considering)
2

[2017-06-23 16:14] #66 closed

[2017-06-24 17:36] ariel-phet commented on #65
Design doc created, closing

[2017-06-24 17:36] #65 closed

[2017-06-26 02:49] krhensberry commented on #66
Sounds good. I like the idea of a mixed numbers toggle for Intro... Agreed that it might be tricky in terms of design but certainly interesting! There has to be a way to indicate what the whole is. Let me know if you go that route and want any input.
 A couple of other thoughts:
1. I've only ever heard the term "mixed number" not "mixed fraction" (in that it is a whole number and a fraction - henc

[2017-06-26 12:45] veillette commented on #44
This issue is stale and no longer relevant. Closing

[2017-06-26 12:45] #44 closed

[2017-06-26 12:46] veillette commented on #55
This issue is stale and no longer relevant. Closing

[2017-06-26 12:46] #55 closed

[2017-06-26 12:46] veillette commented on #54
The animation is now done in the view without TWEEN

[2017-06-26 12:46] #54 closed

[2017-06-26 12:47] veillette commented on #52
There is a now a very well organized structure with (for instance) CakeView, CalePieceNoce, CakeNode and CakeContainorNode.

[2017-06-26 12:47] #52 closed

[2017-06-26 12:48] veillette commented on #57
This issue is stale.

[2017-06-26 12:48] #57 closed

[2017-06-26 12:48] veillette commented on #61
There is no longer any Emitter in the simulation and we do not intend to use one.

[2017-06-26 12:48] #61 closed

[2017-06-26 12:50] veillette commented on #63
This issue is stale since we used @jonathanolson prototype.

[2017-06-26 12:50] #63 closed

[2017-06-26 12:52] veillette opened #83 "Test simulation on iPad2 and Report results"
This issue will track the performance on the iPad2 using the requirejs version of the simulation on master.

[2017-06-26 13:00] michaelm396 commented on #75
Hey @jonathanolson Johnathan, We have been adamantly working to make changes to the prototype fractions intro file. These changes are included in a prioritized checklist to get us started with transitioning the proto branch of Fractions-intro into the master branch (see issue #68 for list). I am going to be assigning you these mapped issues for any further review. Thanks.

[2017-06-26 13:00] michaelm396 commented on #70
Hey @jonathanolson Johnathan, We have been adamantly working to make changes to the prototype fractions intro file. These changes are included in a prioritized checklist to get us started with transitioning the proto branch of Fractions-intro into the master branch (see issue #68 for list). I am going to be assigning you these mapped issues for any further review. Thanks.

[2017-06-26 13:00] michaelm396 commented on #71
Hey @jonathanolson Johnathan, We have been adamantly working to make changes to the prototype fractions intro file. These changes are included in a prioritized checklist to get us started with transitioning the proto branch of Fractions-intro into the master branch (see issue #68 for list). I am going to be assigning you these mapped issues for any further review. Thanks.

[2017-06-26 13:03] veillette commented on #74
I reverted the change to annotation which was initially correct. Otherwise the work is done. Assigning to @jonathanolson for review.

[2017-06-26 13:05] veillette commented on #49
This issue refers to a older version of the simulation. In any case, we have decided to change the position in the view rather than the model.

[2017-06-26 13:05] #49 closed

[2017-06-26 13:09] veillette commented on #51
In the new version of the simulation, the mouse and touch presses on bucket act the same as pressing on the pieces. Assigning to @jonathanolson for review.

[2017-06-26 13:27] veillette commented on #76
I tested on chrome 59.0.3071 (64 bit),  firefox 54.0 (64 bit) and InternetExplorer 11 without the fudge factor and I did not come across any issues with denominator=8. Hence,  I reverted back the fudge factor.

Otherwise our work is done here. Assigning to @jonathanolson for review.

[2017-06-26 13:31] veillette commented on #77
Good job @coledu. Assigning to @jonathanolson for review.

[2017-06-26 13:34] veillette commented on #80
I'm not able to reproduce after fuzzMousing extensively. Closing

[2017-06-26 13:34] #80 closed

[2017-06-26 13:36] veillette commented on #58
This issue is stale since it refers to an old implementation of the simulation. Closing.

[2017-06-26 13:36] #58 closed

[2017-06-26 13:56] veillette commented on #73
There is a tool known as  jsinspect that detect copy-pasted and structurally similar code.
Here is the result of it.

[code]

[2017-06-26 14:04] veillette opened #84 "Generalize fractionNode to handle MixedNumber"
Following recommendation in #66, we should generalize to represent mixed numbers.
See https://en.wikipedia.org/wiki/Fraction_(mathematics)#Mixed_numbers lo learn about MixedNumber.

By default, the fractionNode should display a fraction, but one should be able to toggle the MixedNumber/RegularFraction representation via a public method.

[2017-06-26 14:19] veillette opened #85 "Add Horizontal Bar Representation"
The Horizontal bar Representation look like this
![image](https://user-images.githubusercontent.com/7633344/27543478-46a7dbf4-5a58-11e7-908c-f45698213c2d.png)

Currently the CellSceneView display the containerNode inside an HBox,

[code]

It should be generalized to have an VBox inside an HBox.

One should be able to leverage this code to use for the equality lab.

![image](https://user-images.git

[2017-06-26 19:02] amanda-phet commented on #66
@krhensberry said

Thank you for catching that- that was totally a mistake on my part!

[2017-06-26 20:23] coledu commented on #84
Some of the complication that I have thought of was if the denominator is 1 we should never have a fraction and instead a whole number. And why would it make sense to repeat two half of a different object as a whole. I believe this was mentioned in #66 .  I also believe we can move the button to the right side to give us room for the whole number.

[2017-06-26 20:31] coledu commented on #84
We have make a commit that implement a mixed number the way we think it might want. We did not want a fraction's numerator to be zero. So we took out the fraction part and make it into a whole number. After discussion we our Berea team we deciding to add the mixed number beside our current improper fraction so we can correctly see the denominator and numerator spinner changing each of their respec

[2017-06-26 21:31] veillette commented on #84
Neat.  However, this should bot be enabled by default, so you should remove the equal sign and the MixedNumber, The bucket should be in his habitual place.

Also you should k cheery pick the  options for the FractionNode. Passing any options will fail since you dont want to pass left, bottom, center attributes.

[2017-06-27 12:28] coledu commented on #84
5e8ec509fc07252314402f9670e1a250f97878c5. This is the commit that disable the new feature from showing on the screen.

[2017-06-27 17:51] amanda-phet commented on #84
I like the direction for this... it makes a lot of sense to show both representations simultaneously, and then we don't have the problem of needing the mixed number to be interactive.

The design certainly needs some tweaking, but this is a good start. One thing we will need is a radio button pair that toggles the display. So, one option could be "improper fraction" and the other could be "mixed n

[2017-06-27 20:49] coledu commented on #85
We use rectangle to make the horizontal bar.

[2017-06-27 21:02] davisv7 commented on #73
I pushed a commit that addressed some of the duplicate code between the cake piece node, circular "" and rectangular "". There's still a lot to go...

[2017-06-27 21:03] michaelm396 commented on #85
I have committed features that enables a new HBox to be created inside of the current containerLayer VBox once the maxHorizontalContainers condition is satisfied for the containerNode. This allows containers to lie horizontally parallel to one another. I have also correctly left aligned the containerLayer VBox, that places the new containerNode in alignment with the VBox. These features will be es

[2017-06-27 22:16] veillette commented on #67
The previous commit does not address the fact that the update on the beaker should be done after the piece arrives at the beaker container.

[2017-06-27 22:24] veillette commented on #78
The two representations were added, Closing

[2017-06-27 22:24] #78 closed

[2017-06-27 22:25] veillette commented on #42
We are no longer able to reproduce this assertion since we are using the Jonathan's prototype.. Closing

[2017-06-27 22:25] #42 closed

[2017-06-28 15:25] coledu commented on #21
I believe this issue is complete. Assigning to @jonathanolson  for review.

[2017-06-28 15:28] coledu commented on #62
I believe this issue might be ready to close. We have deciding to use round spinner it our sim. Assigning to @jonathanolson for review.

[2017-06-28 15:32] coledu commented on #64
We will need to go though the proto branch and make sure we dispose of everything that need to be dispose of. Since we switch over to the proto branch is this still an issue with the bucket? What you mention in you last comment.  @veillette .

[2017-06-28 16:21] veillette commented on #64
This is no longer a relevant issue. Closing

[2017-06-28 16:21] #64 closed

[2017-06-30 18:09] coledu commented on #84
I have and on off switch that toggle the fraction between improper and both. I also remove the slider and thinking about adding a text label above the button to identify it and add dispose function.

[2017-06-30 19:26] michaelm396 opened #86 "Adjust Positions of pieces within Bucket"
Currently a few pieces lie outside the realm of the bucket Node on the screenView. In order to address this issue Dr. Veillette recommend we pass through options for Bucket Node which allows the vectors within PIECE_OFFSET_POSITIONS to be altered given the representationProperty. Working on this feature seemed more difficult than expected so instead, I passed new vectors through PIECE_OFFSET_POSIT

[2017-06-30 19:33] davisv007 opened #87 "PROTO: Issue with dragging a cell"
How to replicate:
When dragging a piece from the bucket or a cell from a container, drag it from its original position on click and rapidly click the piece before it can animate to the container/bucket. Pieces will be generated for as long as you click and they will either go to fill up the container of return to the bucket. You should see something similar to this:

![glitch](https://user-images.

[2017-06-30 19:45] coledu commented on #83
After I tested the simulation on the ipad these are all the issues that I have noticed:
- The beaker tab takes the longest to load.
- The animation of pieces to/from the bucket is especially slow in beaker.
- Animation when max is decreased does not work on the ipad for beaker.
- It seem like the denominator in the cake is taking a lot of time to update. This might be because we are moving the cak

[2017-06-30 19:47] coledu commented on #84
We do not need a dispose function for this. But a label might still be a good idea.

[2017-06-30 19:48] coledu commented on #31
I have remove these image. Assigning back to @jonathanolson for review.

[2017-06-30 19:51] coledu opened #88 "Location of horizontal bar."
The location of the container for the horizontal bar representation interfere and cross over with the fraction box. This could be move up just a little bit to avoid this. Picture below:
![image](https://user-images.githubusercontent.com/26030529/27751794-0168e586-5dac-11e7-81a3-d0730e7bf970.png)

[2017-06-30 19:52] davisv7 opened #89 "Incorrect Z-ordering when max decreased on Cake Representation"
How to replicate issue:
Switch to cake representation. Increase denominator to greater than 3, max greater than 2. Decrease the max such that pieces from the cake are animated back to the bucket. You should see something similar to this, animating to the bucket:
![cake](https://user-images.githubusercontent.com/8039583/27751790-fad2bc06-5dab-11e7-9495-0dd376041569.png)

[2017-06-30 19:55] michaelm396 opened #90 "PROTO: Create Dropped Shadow behind CircleNode"
The java Implementation of fractions-intro requires that every piece (vertical node, horizontal node, and circle node) are equipped with a dropped shadow once a click event is active. So far we have a dropped shadow for each piece node except circle node. We noticed that the dropped shadow for the circle piece rotates according to the z-layer. As the piece rotates onto the screenview, the dropped

[2017-07-05 17:55] veillette commented on #87
This was addressed by adding an input listener solely to the bucketFront, bucketBack and staticLayers, rather than the entire BucketNode (which includes the moving pieces)

[2017-07-05 17:55] veillette commented on #87
Work done. Closing

[2017-07-05 17:55] #87 closed

[2017-07-05 17:57] veillette commented on #81
The bucket was added as well as its functionality. Closing

[2017-07-05 17:57] #81 closed

[2017-07-05 17:59] veillette commented on #85
Thanks @michaelm396 , this implementation works well and avoid a lot of duplication. Closing.

[2017-07-05 17:59] #85 closed

[2017-07-05 21:15] veillette commented on #84
FractionNode has a dispose function.

[code]

[2017-07-06 13:39] veillette commented on #90
This was done in https://github.com/phetsims/fractions-intro/commit/cfb1b32b3bed79128a996adf7233432ec021d4de

[2017-07-06 14:06] veillette commented on #88
![image](https://user-images.githubusercontent.com/7633344/27914961-c1251586-6232-11e7-83a7-b30bfcb8b57f.png)

[2017-07-06 14:08] veillette commented on #88
Changing the alignBound in AlignBox changes the position of the upper left corner.
Currently it is an fixed value for all representations.

[2017-07-06 14:43] veillette opened #91 "assertions with Beaker Representation"
Assertion failed: undefined
Cell.js?bust=1499352104960:60 Uncaught Error: Assertion failed: undefined
    at window.assertions.assertFunction (:8080/assert/js/assert.js:21)
    at Cell.empty (Cell.js?bust=1499352104960:60)
    at BeakerView.onExistingCellDragStart (BeakerView.js?bust=1499352104960:305)
    at BeakerView.js?bust=1499352104960:334
    at Object.down (BeakerContainerNode.js?bust=1499

[2017-10-04 20:49] #91 closed

[2017-10-04 20:50] jonathanolson opened #92 "Beakers appear filled instantly"
Instead of waiting for the animation to complete (when increasing numerator), the beaker fills instantly (instead of when the piece would finally get there).

[2017-11-25 20:58] veillette commented on #90
Work is done. Closing

[2017-11-25 20:58] #90 closed

[2018-02-08 17:48] pixelzoom opened #93 "branch: proto"
Identified by `print-branches.sh`. @jonathanolson please describe.

[2018-02-08 19:17] veillette commented on #93
This branch was developed in the summer of 2017 by @jonathanolson as a prototype to improve performance and model architecture of fractions-intro. Based on this branch, @jonathanolson issued several recommendation (see #33) that were then incorporated in the master branch.
This should be safe for deletion at this point.

[2018-03-08 08:42] jonathanolson opened #94 "Including different denominators"
When pieces of only one size are included in the original sims, it is supported to place them anywhere in "slots":
![fractions-split](https://user-images.githubusercontent.com/480878/37141016-ec869f5c-2270-11e8-819e-90a982c73ad3.PNG)

However when different sizes/denominators are supported, it is not possible to place them "anywhere", and it appears forced to be placed in a contiguous order:
![fra

[2018-03-08 08:55] jonathanolson opened #95 "Big picture for fractions sims"
I've been looking into creating repositories for fractions sims, but I don't see too much information on the individual sims. I'm assuming creating `fractions-common` as a repository for shared code would be needed?

The design documents I have access to (from the Fractions Suite HTML5 folder) are:

- Fractions Intro (https://docs.google.com/document/d/1hwHRO47ZLnyM5HYSDy7qOMVjGs3zF0PzVmGN6n8swjE/

[2018-03-09 17:53] ariel-phet commented on #94
These questions are best answered by @amanda-phet

[2018-03-09 19:34] ariel-phet commented on #95
@jonathanolson I believe @amanda-phet has most of these decisions documented, just not in the design doc currrently (I believe she has notes in an .ai file and such).

[2018-03-12 22:11] amanda-phet commented on #95
I think this is probably a good idea. There is possibly one sim with re-used screens, but even sims that have different screens will have pretty minor changes between them.

I believe so, as of today 3/12/18 :) Maybe I should summarize this in a doc so I can get to your other questions right now. Update: Here is the link to a doc with the mappings: https://docs.google.com/document/d/1tq09ZpmGOVHVq

[2018-03-13 16:36] amanda-phet commented on #94
In the Build a Fraction game screens and Lab screen, want to be able to move around whole fraction, so the pieces need to glue together and come out with undo. We also want to be able to see how much space you have left in the whole if you are adding pieces of different sizes, so that contiguous order is necessary to achieve that.

In the Intro screens, want to be able to see that the fraction pie

[2018-08-31 16:02] KatieWoe opened #96 "CT: item not found in Array"
[code]

[2018-09-10 16:47] KatieWoe commented on #96
Error now reads:
[code]

[2018-10-22 15:20] KatieWoe commented on #96
Few other CT results showing up and documenting in this issue. @jonathanolson
[code]

[2018-10-23 16:38] KatieWoe commented on #96
Also found in mixed numbers
[code]

[2018-10-24 08:04] jonathanolson commented on #96
I believe these failures should be fixed. Can you verify (or see if they don't happen in CT for a bit?)

[2018-10-25 15:02] KatieWoe commented on #96
@jonathanolson saw it once yesterday in mixed-numbers, but otherwise it looks clear.

[2018-10-30 14:45] KatieWoe opened #97 "CT: Memory"
[code]

[2018-12-13 17:13] #31 closed

[2018-12-13 17:16] jonathanolson commented on #96
This should be fixed in master.

[2018-12-13 17:21] jonathanolson commented on #93
Closed the branch (master was up-to-date, and code is in fractions-common)

[2018-12-13 17:21] #93 closed

[2018-12-13 17:27] jonathanolson commented on #2
Code review handled in fractions-common repo.

[2018-12-13 17:29] jonathanolson commented on #7
There was custom behavior needed for fractions-common. @Denz1994 do you think MixedFractionNode.js would be suitable for moving to common code?

[2018-12-13 17:30] #62 closed

[2018-12-13 17:30] #67 closed

[2018-12-13 17:30] #68 closed

[2018-12-13 17:30] #70 closed

[2018-12-13 17:30] #71 closed

[2018-12-13 17:30] #73 closed

[2018-12-13 17:30] #74 closed

[2018-12-13 17:31] #75 closed

[2018-12-13 17:33] #79 closed

[2018-12-13 17:33] #82 closed

[2018-12-13 17:33] #83 closed

[2018-12-13 17:33] #84 closed

[2018-12-13 17:33] #86 closed

[2018-12-13 17:33] #88 closed

[2018-12-13 17:33] #89 closed

[2018-12-13 17:34] #92 closed

[2018-12-13 17:34] #94 closed

[2018-12-13 17:34] #95 closed

[2018-12-13 17:35] Denz1994 commented on #7
I will be able to give a better answer once reviewed. Tagging https://github.com/phetsims/fractions-common/issues/29 to consider for common code.

[2018-12-24 17:48] Denz1994 commented on #7
It seems like MixedFractionNode.js would be useful as a common code component. The constructor only requires a options object and handles default values well.

I would suggest the adding an `options.vinculumNodeWidth: 10 // {number} ` so the declation looks like `this.vinculumNode = new Line(0,0,options.viculumNodeWidth,0)`.

Font sizes are checked with an assertion in `BuildingScreenView.js`. I'm

[2019-01-24 22:49] arouinfar opened #98 "Screenshots"
As pointed out in https://github.com/phetsims/QA/issues/267, this sim needs screenshots for 1.0.

[2019-01-24 23:12] amanda-phet commented on #98
@phet-steele the main screenshot should match the java version.

[2019-01-24 23:42] phet-steele commented on #98
Added the main. Alts are next. My computer says the images are 3072x2016, which is double the desired amount, and this was signed off as okay.

[2019-01-25 16:12] amanda-phet commented on #98
It's really easy to resize images so I can do that if we want them at the desired resolution.

[2019-01-25 18:52] phet-steele commented on #98
Alright resolutions should now correctly be 1536x1008. Here they are, main first then alts:

![fractions-intro-screenshot](https://user-images.githubusercontent.com/5863899/51766357-94cb1b00-2097-11e9-9517-b4e02f6163ec.png)

![fractions-intro-screenshot-alt1](https://user-images.githubusercontent.com/5863899/51766364-98f73880-2097-11e9-8b98-c6b66379849d.png)

![fractions-intro-screenshot-alt2](htt

[2019-01-25 19:32] amanda-phet commented on #98
These all look good to me !

[2019-01-25 19:32] #98 closed

[2019-03-11 21:03] KatieWoe commented on #96
Closing

[2019-03-11 21:03] #96 closed

[2019-04-08 20:49] pixelzoom opened #99 "remove Tween preload?"
I don't see TWEEN used anywhere in fractions-intro or its dependencies, but I see this preload in package.json:

[code]

Can this preload be removed?

[2019-04-17 21:05] KatieWoe opened #100 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* No new issues seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56320727-fee8de80-6121-11e9-8914

[2019-04-17 21:05] #100 closed

[2019-06-07 20:02] jonathanolson commented on #1
Sim has been published. I filled out the implementation section. @ariel-phet should this be closed or filled out?

[2019-06-07 20:07] jonathanolson commented on #99
Removed, thanks!

[2019-06-07 20:07] #99 closed

[2019-06-07 20:08] #76 closed

[2019-06-07 20:17] jonathanolson commented on #7
We have `vinculumExtension` which I believe is better than explicitly declaring the vinculum width.

@ariel-phet, this issue would mainly be moving fractions-common's fractions display code to common code, and updating trig-tour/area-builder/fraction-comparison. How should I prioritize this?

[2019-06-08 03:12] ariel-phet commented on #7
@jonathanolson I think you could move it to common code, and merely make issues in the other repos to use it at some point in the future, those sims do not need to be updated right now.

[2019-06-19 18:29] jonathanolson commented on #7
@ariel-phet I've moved MixedFractionNode and PropertyFractionNode to common code. Should we create issues in other sims to use them? I'm not sure exactly where would be appropriate.

[2019-06-19 19:02] jonathanolson commented on #97
This only happened in Canvas mode, where the pixels take up a huge amount of memory on CT. Removed that test, so this should be resolved. Closing.

[2019-06-19 19:02] #97 closed

[2019-07-29 17:00] ariel-phet commented on #7
@jonathanolson I don't think we necessarily need other sims to use them.

@amanda-phet should be aware that these nodes now exist in common code (and are used by the fractions suite). I don't think there are any sims that need to be retrofitted.

@amanda-phet if you agree (no sims need to be retrofitted), feel free to close and just keep this in mind if designing a sim with fraction representation

[2019-07-29 17:37] amanda-phet commented on #7
Thanks for letting me know. I created issues in relevant sim repos (that I could think of, since many of these are probably using custom layouts).

[2019-07-29 17:37] #7 closed

[2020-02-13 15:57] KatieWoe opened #101 "CT cannot read property value of undefined"
Also in Mixed numbers:
[code]

[2020-02-13 22:04] zepumph commented on #101
I think this is related to phetsims/joist#602

[2020-02-13 22:32] chrisklus commented on #101
We missed a couple usages of `currentScreenProperty` - should be fixed now. I'll wait for CT before closing.

[2020-02-14 00:58] zepumph commented on #101
Thanks! This looks to be fixed

[2020-02-14 00:58] #101 closed

[2020-02-17 20:26] chrisklus commented on #101
All set, closing.

Edit: Oh thanks, looks like I hadn't refreshed the page :)

[2020-04-13 14:59] KatieWoe opened #102 "CT setting centerY is invalid when the node has invalid (empty/NaN/infinite) bounds"
Also in mixed numbers
[code]

[2020-04-13 15:09] KatieWoe commented on #102
Also in build a fraction

[2020-04-13 15:54] jonathanolson commented on #102
I believe the above commit should fix this.

[2020-08-31 22:09] jessegreenberg opened #103 "Multitouch assertion: currentView.bucketNode is undefined"
From https://github.com/phetsims/aqua/issues/106, the following was caught
[code]

[2020-11-19 16:12] jessegreenberg commented on #103
From phetsims/aqua#106, assigning to the responsible dev for this repo.

[2020-11-19 16:13] jessegreenberg commented on #103
This assertion is also being thrown in fractions-mixed-numbers, so likely not specific to intro.

[2021-01-05 20:40] #1 closed

[2021-01-05 20:41] ariel-phet opened #104 "Create sim primer"
When sim primers become a priority again, this sim needs a sim primer

[2021-02-09 16:58] pixelzoom opened #105 "CT: item not found in Array"
In 2/4/21 dev meeting, we established that this is due to multi-touch fuzz testing (` ?fuzzPointers=2`) being enabled for https://github.com/phetsims/aqua/issues/106.  area-builder, balancing-act, fractions-equality, and fractions-intro are all experiencing this problem. So whoever works on this, please consider your fix in the context of all of these sims.

[code]

[2021-04-30 16:00] amanda-phet opened #106 "Add ability to change fraction pieces on bucket, and hide fraction representation"
A user suggested that it would be nice to be able to hide the fraction representation, so they could just focus on the manipulative pieces.

However, right now the buttons on the fraction are the only way to change the size of the pieces… so I’d like to add a way to change those pieces on the bucket, as well as an option to show/hide the fraction.

[2021-04-30 16:00] amanda-phet commented on #106
I'd want this design change to happen in Fractions: Intro as well as Fractions: Mixed Numbers.

[2021-05-05 21:03] kathy-phet opened #107 "Bug? Fraction pieces can be dragged off edges of the screen"
If/when we revisit this sim, it seems like it would be worth code that would prevent pieces from being dragged off the top and bottom edges of the sim. To reproduce, make your browser window smaller than your screen, and you can see how you can drag off screen. If you drop the object it does correctly fly back to the bucket.

[2021-11-19 18:02] markgammon opened #108 "Decide whether to turn off UI sounds on next publication"
As part of the work done for https://github.com/phetsims/vegas/issues/77, UI sounds got turned on for this simulation.  Before the sim is published again from master, we should decide whether to turn the UI sounds off, leave them on and design and implement sounds for the rest of the interactions, or publish with a partial sound design.

If the decision is to turn them off, this can be accomplishe

[2022-05-18 21:23] #102 closed